
.about__container {
    display: grid;

    grid-template-columns: 1fr 1fr 0.5fr;
}

.about__me {
    vertical-align: auto;
    width: 50%;
    display: grid;
    text-align: center;
}

.about__mes {
    padding: 5%;
    border-radius: 10%;
    vertical-align: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__me-img {
    display: flexbox;
    border-radius: 2rem;
    overflow: flex;
    transform:  rotate(10deg);
    transition: var(--transition);
}

.icon {
    vertical-align: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 4rem;
    border-radius: 20%;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 1.5rem;
    transition: var(--transition);
}

.about__me-img:hover {
    transform: rotate(-2deg);
    color:rgba(255,184,28);
    background-color:  #205C40;
}


.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    width: 10cm;
    background: var(--color-bg--variant);
    border : 1px solid transparent;
    border-radius: 1 rem;
    padding: 1rem;
    align-items: center;

}
.about__card__head {
    text-align: center;
    background-color: #205C40;
}


.text {
    white-space: pre-line;
    text-align: left;
    padding: 0%;
}